<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>
  
  <div class='inquiries'>
    <div class="container" > 
      <div class="content-contact" >
        <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
          <%= render :partial => "/refinery/admin/error_messages",
                     :locals => {
                       :object => @inquiry,
                       :include_object_name => true
                     } %>
          <div class="field">
            <%= f.required_label :name, :class => 'placeholder-fallback' %>
            <%= f.text_field :name, :class => 'text', :required => 'required',
              :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
          </div>
          <div class="field">
            <%= f.required_label :email, :class => 'placeholder-fallback' %>
            <%= f.email_field :email, :class => 'text email', :required => 'required',
              :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
          </div>

          <% if Refinery::Inquiries.show_phone_number_field %>
            <div class="field">
              <%= f.label :phone, :class => 'placeholder-fallback' %>
              <%= f.text_field :phone, :class => 'text phone',
                :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
            </div>
          <% end %>

          <div class='field message_field'>
            <%= f.required_label :message, :class => 'placeholder-fallback' %>
            <%= f.text_area :message, :rows => 8, :required => 'required',
              :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
          </div>
          <div class="actions">
            <%= f.submit t('.send') %>
            <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
          </div>
        <% end %>
      </div>
      <div class="imfomation-contact" >
        <div class="imfomation">
          <h3><%= copywriting('country', { :scope => 'country', :default => 'VietNamese' }) %></h3>
          <p><%= copywriting('addess', { :scope => 'addess', :default => 'Floor 24, Room 09, CT4B building, Xala urban, Hadong district, Hanoi, Vietnam' }) %></p>
        </div>
        <div >
          <p>Phone: <span><%= copywriting('phone', { :scope => 'phone', :default => '(84-4) 37 875018' }) %></span></p>
          <p>Fax: <span><%= copywriting('fax', { :scope => 'fax', :default => '(84-4) 37 875017' }) %></span></p>
          <p>Mail: <span><%= copywriting('mail', { :scope => 'mail', :default => 'contact@ithanoi.com' }) %></span></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render "/refinery/content_page" %>